.o-container {
}

.o-inner {
  width: 100%;
  margin: auto;

  @include media($breakpoint-pc) {
    &.-s {
      max-width: $container-width-s;
    }

    &.-m {
      max-width: $container-width-m;
    }

    &.-l {
      max-width: $container-width-l;
    }
  }
}
