.o-container {}

.o-inner {
  width: 100%;
  margin: auto;

  @include media($breakpoint-pc) {
    &.-s {
      max-width: $container-width-s;
    }

    &.-m {
      max-width: $container-width-m;
    }

    &.-l {
      max-width: $container-width-l;
    }
  }
}

.o-padding {
  padding: 0 1rem 1.5rem 1rem;

  @include media($breakpoint-tablet) {
    padding: 0 1rem 1.2rem 1rem;
  }

  @include media($breakpoint-pc) {
    padding: 0 0 1.2rem 0;
  }
}
