/** colors */
$color-white: #fff;
$color-black: #333;
$color-gray: #a8abb1;
$color-primarily: #2c75b6;

/** breakpoint */
$breakpoint-pc: 768px;

/** size */
$header-height: 3.5rem;
$container-width-s: 720px;
$container-width-m: 960px;
$container-width-l: 100%;
