@media (prefers-color-scheme: dark) {
  body {
    background-color: $color-dark-gray;
    color: $color-white;

    .c-header .logo {
      &.-black {
        display: none;
      }

      &.-white {
        display: block;
      }
    }

    .c-post-body {
      code {
        background-color: $color-dark-lightgray;
      }

      table tbody tr:nth-child(odd) {
        background-color: $color-dark-lightgray;
      }
    }

    .c-fixmenu ._contents {
      background-color: $color-dark-middlegray;
    }
  }
}

.dark-theme {
  background-color: $color-dark-gray;
  color: $color-white;

  .c-header .logo {
    &.-black {
      display: none;
    }

    &.-white {
      display: block;
    }
  }

  .c-post-body {
    code {
      background-color: $color-dark-lightgray;
    }

    table tbody tr:nth-child(odd) {
      background-color: $color-dark-lightgray;
    }
  }

  .c-fixmenu ._contents {
    background-color: $color-dark-middlegray;
  }
}