@media (prefers-color-scheme: dark) {
  body {
    background-color: $color-dark-gray;
    color: $color-white;

    .c-header {
      background-color: rgba($color: $color-dark-gray, $alpha: 0.8);

      ._contents {
        a {
          color: $color-white;
        }
      }

      .c-humburger {
        ._list {
          background: $color-black;
          color: $color-white;
        }
      }
    }

    .c-site-logo {
      ._path {
        fill: $color-white;
      }
    }

    .c-list-title {
      color: $color-middlegray;
    }

    .c-post-body {
      code {
        background-color: $color-dark-lightgray;
      }

      table tbody tr:nth-child(odd) {
        background-color: $color-dark-lightgray;
      }
    }

    .c-fixmenu ._contents {
      background-color: $color-dark-middlegray;
    }
  }
}

.dark-theme {
  background-color: $color-dark-gray;
  color: $color-white;

  .c-header {
    background-color: rgba($color: $color-dark-gray, $alpha: 0.8);

    ._contents {
      a {
        color: $color-white;
      }
    }

    .c-humburger {
      ._list {
        background: $color-dark-gray;
        color: $color-white;
      }
    }
  }

  .c-site-logo {
    ._path {
      fill: $color-white;
    }
  }

  .c-list-title {
    color: $color-middlegray;
  }

  .c-post-body {
    code {
      background-color: $color-dark-lightgray;
    }

    table tbody tr:nth-child(odd) {
      background-color: $color-dark-lightgray;
    }
  }

  .c-fixmenu ._contents {
    background-color: $color-dark-middlegray;
  }
}
