@media (prefers-color-scheme: dark) {
  body {
    background-color: $color-dark-gray;
    color: $color-white;

    .c-header {
      background-color: $color-dark-gray;
    }

    .c-site-logo {
      ._path {
        fill: $color-white;
      }
    }

    .c-post-body {
      code {
        background-color: $color-dark-lightgray;
      }

      table tbody tr:nth-child(odd) {
        background-color: $color-dark-lightgray;
      }
    }

    .c-fixmenu ._contents {
      background-color: $color-dark-middlegray;
    }
  }
}

.dark-theme {
  background-color: $color-dark-gray;
  color: $color-white;

  .c-header {
    background-color: $color-dark-gray;
  }

  .c-site-logo {
    ._path {
      fill: $color-white;
    }
  }

  .c-post-body {
    code {
      background-color: $color-dark-lightgray;
    }

    table tbody tr:nth-child(odd) {
      background-color: $color-dark-lightgray;
    }
  }

  .c-fixmenu ._contents {
    background-color: $color-dark-middlegray;
  }
}
