.light-theme {
  background-color: $color-white;
  color: $color-black;

  .c-header {
    background-color: rgba($color: $color-white, $alpha: 0.8);

    ._contents {
      a {
        color: $color-black;
      }
    }
  }

  .c-site-logo {
    ._path {
      fill: $color-black;
    }
  }

  .c-post-body {
    code {
      background-color: $color-lightgray;
    }

    table tbody tr:nth-child(odd) {
      background-color: $color-lightgray;
    }
  }

  .c-fixmenu ._contents {
    background-color: $color-white;
  }
}
