.c-header {
  display: flex;
  align-items: center;
  padding: 0 0.9rem;
  height: $header-height;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: $color-white;

  @include media($container-width) {
    padding: 0;
  }

  .header-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .fas {
      font-size: 1.5rem;
      margin: 0 0.4rem;
    }
  }

  .logo {
    height: 1.3rem;
  }
}

.c-dummy-header {
  height: $header-height;
}