.c-postentry {
  //--- eyecatch ---
  ._postheader {
    padding-top: 55%;
    height: 0;
    position: relative;
    overflow: hidden;

    @include media($breakpoint-pc) {
      padding-top: 30%;
    }

    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }

    ._filter {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }

    ._postinfo {
      color: $color-white;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 2rem 1rem 0.8rem;
      line-height: 1.35;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(transparent),
        to(rgba(0, 0, 0, 0.65))
      );
      background: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.65) 100%
      );

      ._title {
        font-weight: bold;
        font-size: 1.5rem;

        @include media($breakpoint-pc) {
          font-size: 1.7rem;
        }
      }

      ._date {
        font-size: 0.8rem;
        letter-spacing: 3px;
        opacity: 0.8;

        @include media($breakpoint-pc) {
          font-size: 0.9rem;
        }
      }

      ._categorys {
        margin-top: 0.4rem;
      }

      ._catitem {
        color: $color-white;
        text-decoration: none;
        font-size: 0.65rem;
        padding: 0.15rem 0.5rem;
        margin-right: 0.6rem;
        border: solid 1px $color-white;
        border-radius: 5px;
        letter-spacing: 1px;
        opacity: 0.85;

        .fas {
          font-size: 0.55rem;
          margin-right: 0.2rem;
        }
      }
    }
  }

  //--- entry ---
  ._postbody {
    padding: 2rem 1rem;
    line-height: 1.8;

    @include media($breakpoint-pc) {
      padding-right: 0;
      padding-left: 0;
    }

    > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    h2 {
      margin: 2rem 0 0.5rem 0;
      font-size: 1.2rem;
      font-weight: bold;
    }

    > ul {
      margin-bottom: 1.5rem;
      padding-left: 1.6rem;

      li {
        list-style: disc;
        margin: 0.2rem 0;

        ul {
          padding-left: 1.5rem;
        }
      }
    }

    p {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      code {
        background-color: $color-lightgray;
        padding: 0.1rem 0.3rem;
        border-radius: 4px;
        margin-right: 0.1rem;
      }

      a {
        margin-right: 0.1rem;
      }
    }

    blockquote {
      border-left: solid 0.3rem $color-middlegray;
      padding: 0.3rem 1rem;
      opacity: 0.6;
    }

    table {
      display: block;
      overflow: auto;
      margin-bottom: 1.5rem;
      border-collapse: collapse;

      th {
        font-weight: bold;
      }

      th,
      td {
        padding: 0.5rem 0.8rem;
        border: solid 1px $color-middlegray;
      }

      tbody tr:nth-child(odd) {
        background-color: $color-lightgray;
      }
    }

    //--- hljs ---
    .hljs {
      margin: 1.5rem -1rem;
      line-height: 1.5;
      padding: 1rem 1.25rem;
      background-color: #282c34;
      overflow: auto;
      position: relative;

      @include media($breakpoint-pc) {
        margin: auto;
        line-height: 1.6;
        border-radius: 6px;
        padding: 1.25rem 1.5rem;
      }

      &[data-tip] {
        padding-top: 2.7rem;
      }

      ._codetip {
        display: inline-block;
        position: absolute;
        top: 0.9rem;
        left: 0.6rem;
        padding: 0 0.6rem;
        letter-spacing: 1px;
        font-size: 0.75rem;
        line-height: 1.7;
        border-radius: 15px;
        color: $color-white;
        background: linear-gradient(135deg, #179fcf 0%, #2c4ff7 100%);

        @include media($breakpoint-pc) {
          left: 0.85rem;
        }
      }
    }
  }
}
