.c-postentry {
  //--- eyecatch ---
  ._postheader {
    padding-top: 55%;
    height: 0;
    position: relative;
    overflow: hidden;

    @include media($breakpoint-pc) {
      padding-top: 30%;
    }

    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }

    ._filter {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }

    ._postinfo {
      color: $color-white;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 2rem 1rem 0.8rem;
      line-height: 1.35;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(transparent),
        to(rgba(0, 0, 0, 0.65))
      );
      background: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.65) 100%
      );

      ._title {
        font-weight: bold;
        font-size: 1.5rem;
      }

      ._date {
        font-size: 0.8rem;
        letter-spacing: 0.18rem;
        opacity: 0.8;
      }

      ._categorys {
        margin-top: 0.4rem;
      }

      ._catitem {
        color: $color-white;
        text-decoration: none;
        font-size: 0.7rem;
        padding: 0.15rem 0.4rem;
        margin-right: 0.6rem;
        border: solid 1px $color-white;
        border-radius: 5px;
      }
    }
  }

  //--- entry ---
  ._postbody {
    padding: 2rem 1rem;
    line-height: 1.8;

    @include media($breakpoint-pc) {
      padding-right: 0;
      padding-left: 0;
    }

    h2 {
      margin: 2rem 0 0.5rem 0;
      font-size: 1.1rem;
      font-weight: bold;

      &:first-child {
        margin-top: 0;
      }
    }

    p {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
