.c-postlist {
  padding: 0.5rem 1.2rem 1.5rem 1.2rem;

  a {
    display: block;
    color: $color-white;
    text-decoration: none;

    // &:hover > img {
    //   transform: scale(1.03)!important;
    // }
  }

  img {
    width: 100%;
    // transition: all .3s!important;
  }

  ._item {
    position: relative;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }

    ._title {
      font-weight: bold;
      font-size: 1.1rem;
    }

    ._date {
      font-size: 0.9rem;
      opacity: 0.8;
      letter-spacing: 1px;
    }
  }

  ._info {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2rem 1rem 0.8rem;
    background: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,.65) 100%);
  }

  @include media($breakpoint-pc) {
    padding: 0;
  }
}